@model GymManagement.Data.Models.Gym


<div class="card shadow border-0 mt-4">
    <div class="card header bg-secondary bg-gradient ml-0 py-3">
        <div class="row">
            <div class="col-12 text-center">
                <h2 class="text-white py-2"> Create Gym Branch</h2>
            </div>
        </div>
    </div>


<form method="post" class="form-horizontal">
        <div class="form-group">
            <label asp-for="Location" class="control-label"></label>
            <input asp-for="Location" class="form-control" />
            <span asp-validation-for="Location" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="DumbBells" class="control-label"></label>
            <input asp-for="DumbBells" class="form-control" />
            <span asp-validation-for="DumbBells" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="Treadmills" class="control-label"></label>
            <input asp-for="Treadmills" class="form-control" />
            <span asp-validation-for="Treadmills" class="text-danger"></span>
        </div>


        <div class="form-group">
                <input type="submit" asp-action="Create" asp-controller="Gym" class="btn btn-primary"  />
       
        
        </div>
 </form>
 </div>