
@model GymUser

<div class="text-center">
    <h1 class="display-4">Welcome Page</h1>

    <p>Thank you for registering! Please fill out your basic information.</p>

    <form class="form-group form-control" method="post" asp-action="Update" asp-controller = "Home">
        <div class="row p-5">
            <div class="col-md form-group">
                <label for="fullName">Full Name</label>
                <input type="text" class="form-control" id="fullName" placeholder="Enter your full name">
            </div>


            <div class="col-md form-group">
                <label for="Contact">Contact Number</label>
                <input type="text" class="form-control" id="Contact" placeholder="Enter your contact number">
            </div>

            <div class="col-md form-group">
                <label for="city">City</label>
                <input type="text" class="form-control" id="city" placeholder="Enter your City">
            </div>

        </div>
        <div class="row p-5">

                <div class="col-md form-group">
                    <label for="age">Age</label>
                    <input type="number" class="form-control" id="age" placeholder="Enter your Age">
                </div>

                <div class="col-md form-group">
                    <label for="weight">Weight</label>
                    <input type="number" class="form-control" id="weight" placeholder="Enter your Weight(in kg)">
                </div>

                <div class="col-md form-group">
                    <label for="height">Height</label>
                    <input type="number" class="form-control" id="height" placeholder="Enter your Height(in cm)">
                </div>
        </div>


        
        <div class="col-md form-group">
            <label for="Type">Workout Split</label>
            <select class="form-select" id="Type">
                <option selected>----</option>
                <option value="1">Full Body</option>
                <option value="2">Upper Body</option>
                <option value="3">Lower Body</option>
            </select>
        </div>
        
        <div class="row mt-3">
            <div class="form-group p-2">
                <input type="submit" asp-action="Update" asp-controller="Home"  class="btn btn-primary" value="Update" />
            </div>
        </div>
    </form>
</div>
