@{
    ViewData["Title"] = "Welcome";
}
@model GymUser

<div class="text-center">
    <h1 class="display-4">Welcome</h1>

    <p>Thank you for registering! Please fill out the your basic information</p>

</div>
